@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #141417;
    color: #fff;
}

main {
    width: 100%;
    display: grid;
    height: calc(100% - 90px);
    grid-template-areas: 
        "nav main"
        "nav main";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 1fr;
    margin-top: 90px;
}

main > aside {
    grid-area: nav;
    background-color: #141417;
}

main > figure {
    grid-area: main;
    background-color: #0f0f11;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f11;
    padding: 0px 80px;
    border-bottom: 1px solid #fff;
}

header h1, header h2 {
    font-weight: 100;
}

header input {
    background-color: #141417;
    border: 1px solid #fff;
    outline: none;
    width: 200px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
}

header div p a, 
header h2 a {
    color: #fff;
    text-decoration: none;
}

main > aside h3 {
    color: #fff;
    display: flex;
    height: calc(90vh / 7);
}

summary {
    list-style: none;
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 20px;
}

summary:hover, p:hover {
    background-color: #0f0f11;
    cursor: pointer;
}

p {
    width: 100%;
    padding: 10px 40px;
}

.square {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 30px;
    width: 30px;
    right: 32%;
    top: 75%;
    transform: rotate(45deg);
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 110px;
    width: 200px;
    right: 26%;
    top: 85%;
}

.dropdown p:hover,
.dropdown p a:hover {
    letter-spacing: 2px;
    color: red;
}