@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #141417;
    color: #fff;
    overflow-y: auto;
    padding: 10px;
    align-self: flex-end;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100vh;
    overflow-y: auto;
    align-self: flex-end;
}

.titulo {
    padding: 20px 20px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.top-container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.main-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    z-index: -1;
}

.header p {
    width: 50%;
    color: #fff;
    text-align: justify;
    padding: 20px 10px;
    background-color: #007bff;
}

.main-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.img-container img {
    position: relative;
    width: 300px;
    height: auto;
    filter: grayscale(80%);
    transition: 0.4s;
}

.img-container img:hover {
    filter: grayscale(0%);
}

.wrapper-features {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: end;
}

.platform {
    display: flex;
    justify-content: center;
    align-items: end;
}

.publisher {
    display: flex;
    align-items: end;
}

.developer {
    display: flex;
    justify-content: center;
    align-items: end;
}

.release-date {
    display: flex;
    align-items: end;
    border-bottom-right-radius: 20px;
}

.genre-design {
    border-top-left-radius: 20px;
}