@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f11;
    padding: 0px 80px;
    z-index: 10000;
}

header h1, header h2 {
    font-weight: 100;
}

header input {
    background-color: #141417;
    border: 1px solid #fff;
    outline: none;
    width: 200px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
}

header h1 a,
header div a, 
header h2 a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px 40px;
}

.square {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 30px;
    width: 30px;
    right: 32%;
    top: 75%;
    transform: rotate(45deg);
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #0f0f11;
    height: 80px;
    width: 200px;
    right: 26%;
    top: 85%;
}

.dropdown a {
    display: flex;
}

.dropdown a:hover {
    letter-spacing: 2px;
    color: #fff;
    background-color: #007bff;
}

.new-post:hover {
    background-color: #007bff;
    padding: 10px 0px;
    border-radius: 20px;
}