@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: light-dark(#ffffff, #0f0f11);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: light-dark(#ffffff, #0f0f11);
}

nav .logo {
    text-decoration: none;
    color: light-dark(#0f0f11, #fff);
    z-index: 1000;
}

input {
    background-color: light-dark(#ffffff, #0f0f11);
    border: 1px solid light-dark(#0f0f11, #fff);
    outline: none;
    width: 200px;
    color: light-dark(#0f0f11, #fff);
    padding: 5px 15px;
    border-radius: 20px;
}

nav .navbar {
    position: relative;
    display: flex;
}

nav .navbar li {
    list-style: none;
    margin-left: 30px;
}

nav .navbar li a {
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    color: light-dark(#0f0f11, #ffffff);
    text-transform: uppercase;
}

nav .navbar li a:hover {
    background-color: light-dark(#fff, #007bff);
    border: 1px solid light-dark(#007bff, transparent);
    padding: 10px 50px;
    border-radius: 20px;
}