@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #141417;
    color: #fff;
    justify-content: center;
    align-items: flex-start;
}

body main {
    position: relative;
    width: 80%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

body main nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 250px;
}

body main div {
    position: relative;
    display: flex;
    width: 80%;
}

body main figure {
    position: relative;
    display: flex;
    width: 140px;
    top: -40px;
}

body main figure img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

body main nav article h2 {
    font-size: 3rem;
}

body main nav article h3 {
    font-size: 2rem;
    font-weight: 400;
}

.edit-profile-btn {
    background-color: #007bff;
    margin-bottom: 30px;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
}

.edit-profile-btn:hover {
    background-color: #0069d9;
}

body main section {
    position: relative;
    display: flex;
    color: #fff;
    z-index: 3000000;
}