@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: light-dark(#f4f6f9,#141417);
    color: light-dark(#141417, #fff);
}

main {
    width: 100%;
    display: grid;
    height: calc(100% - 90px);
    grid-template-areas: 
        "nav main"
        "nav main";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 1fr;
    margin-top: 90px;
}

main > aside {
    grid-area: nav;
    position: fixed;
}

main > .registros {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main > .registros .post-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: light-dark(#ffffff,#0f0f11);
    padding: 30px 30px;
    border-radius: 10px;
}

main > .registros .post-card-top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main > .registros .post-card h2 {
    font-weight: 600;
}

main > .registros .post-card h2 a {
    color: light-dark(#141417, #fff);
    text-decoration: none;
}

main > .registros .post-card h2 a:hover {
    color: #007bff;
}

main > .registros .post-card h3 {
    width: 85%;
    text-align: justify;
}

.text-content {
    width: 85%;
    text-align: justify;
}

main > .registros .post-card .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}

main > .registros .post-card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > aside h3 {
    color: #fff;
    display: flex;
    height: calc(90vh / 7);
    position: relative;
    width: 100%;
}

summary {
    list-style: none;
    position: relative;
    display: flex;
    width: 200px;
    padding: 10px 20px;
}

summary:hover, p:hover {
    background-color: light-dark(#007bff, #0f0f11);
    color: light-dark(#fff, #fff);
    cursor: pointer;
}

p {
    width: 100%;
    padding: 10px 40px;
}

.square {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 30px;
    width: 30px;
    right: 32%;
    top: 75%;
    transform: rotate(45deg);
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 110px;
    width: 200px;
    right: 26%;
    top: 85%;
}

.dropdown p:hover,
.dropdown p a:hover {
    letter-spacing: 2px;
    color: red;
}

.noImage {
    display: none;
}

.like-button {
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 0px;
    padding: 5px 10px 5px 10px;
    background-color: #007bff;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.like-button:hover {
    text-decoration: none;
    color: #fff;
}

.like-count {
    position: absolute;
    top: 50px;
    right: 60px;
    text-decoration: none;
    color: #fff;
}

.like-count:hover {
    text-decoration: none;
    color: #fff;
}

.liked-btn {
    background-color: green;
}

.liked-usernames {
    color: #fff;
}

.liked-usernames:hover {
    text-decoration: none;
    color: #007bff;
}