@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #141417;
    color: #fff;
}

main {
    width: 100%;
    display: grid;
    height: calc(100% - 90px);
    grid-template-areas: 
        "nav main suggestions"
        "nav main suggestions";
    grid-template-rows: 50px 200px 200px;
    grid-template-columns: 300px 1fr 300px;
    margin-top: 90px;
}

main > aside {
    grid-area: nav;
    position: fixed;
    overflow-y: auto;
    height: 85%;
}

main > .registros {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main > .suggestions {
    grid-area: suggestions;
    position: fixed;
    right: 150px;
    top: 100px;
}

main > .suggestions .title {
    font-size: 1.4rem;
}

main > .registros .post-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #0f0f11;
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
    gap: 10px;
}

main > .registros .post-card-top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main > .registros .post-card h2 {
    font-weight: 600;
}

main > .registros .post-card h2 a {
    color: #fff;
    text-decoration: none;
}

main > .registros .post-card h2 a:hover {
    color: #007bff;
}

main > .registros .post-card h3 {
    width: 100%;
}

main > .registros .post-card hr {
    background-color: #4b4b4d;
}

.text-content {
    width: 100%;
}

.text-content p {
    padding: 0;
}

.text-content p:hover {
    cursor: default;
}

main > .registros .post-card .imgBoxPost {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

main > .registros .post-card .imgBoxPost img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > aside h3 {
    color: #fff;
    display: flex;
    height: calc(90vh / 7);
    position: relative;
    width: 100%;
}

summary {
    list-style: none;
    position: relative;
    display: flex;
    width: 250px;
}

summary a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

summary:hover, p:hover {
    background-color: #0f0f11;
    color: #fff;
    cursor: pointer;
}

summary a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

p {
    width: 100%;
    padding: 10px 40px;
}

.square {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 30px;
    width: 30px;
    right: 32%;
    top: 75%;
    transform: rotate(45deg);
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 110px;
    width: 200px;
    right: 26%;
    top: 85%;
}

.dropdown p:hover,
.dropdown p a:hover {
    letter-spacing: 2px;
    color: red;
}

.noImage {
    display: none;
}

.like-button {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 30px;
    padding: 5px 10px 5px 10px;
    background-color: #007bff;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.like-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.like-count {
    position: absolute;
    bottom: 17px;
    left: 70px;
    text-decoration: none;
    color: #fff;
}

.like-count:hover {
    text-decoration: none;
    color: #fff;
}

.comment-count {
    position: absolute;
    bottom: 17px;
    left: 160px;
}

.liked-btn {
    background-color: #dc3545;
}

.liked-usernames {
    color: #fff;
}

.liked-usernames:hover {
    text-decoration: none;
    color: #007bff;
}

.selected-category {
    background-color: #007bff;
}

.imgBoxProfileImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.imgBoxProfileImage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-card-top-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list-group-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.fecha-formateada {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #cacacb;
    color: #0f0f11;
    padding: 5px 10px;
    border-radius: 10px;
}

.fecha {
    cursor: pointer;
}

.fecha:hover {
    text-decoration: underline;
}

.visible {
    display: flex;
}

.info-popup {
    display: none; /* Oculto por defecto */
    position: absolute;
    background-color: #141417;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100000000000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
    border-radius: 20px;
}

.follow-info-container {
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follow-info-container .seguidores,
.follow-info-container .siguiendo,
.follow-info-container .post_count {
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.seguidores div:nth-child(2),
.siguiendo div:nth-child(2),
.post_count div:nth-child(2) {
    font-weight: 900;
    align-self: center;
    font-size: 1.6em;
}

.imgBoxComment {
    position: absolute;
    bottom: 15px;
    left: 120px;
    width: 20px;
    height: 20px;
}

.imgBoxComment img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.imgBoxLike {
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 20px;
    height: 20px;
}

.imgBoxLike img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.post-card-top-main-content {
    position: relative;
}

.post-card-top-main-content h2 a:hover + .info-popup {
    display: block; /* Mostrar el popup al hacer hover */
}

.imgProfilePreview,
.autorProfilePreview {
    margin: 10px 10px 15px 10px;
}

.autorProfilePreview {
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
    position: absolute;
    top: 20px;
    left: 80px;
}

.autorProfilePreview:hover {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.follow-btn {
    background-color: #007bff;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10000;
}

.pswp {
    z-index: 100000;
}

@media screen and (max-width: 768px) {
    main > aside {
        display: block;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-open {
        transform: translateX(0);
        z-index: 600000;
        background-color: #141417;
        height: 100%;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas: 'main';
    }

    .menu-button {
        position: absolute;
        display: flex;
        width: 30px;
        height: 30px;
        z-index: 600000;
    }

    .menu-button img {
        position: absolute;
        top: 25px;
        left: 60px;
        width: 100%;
        height: 100%;
        filter: invert(1);
    }

    .text-content {
        width: 50%;
    }
}