@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #141417;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#editProfileForm {
    position: relative;
    background-color: #141417;
    width: 60%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
}

form input[type=text], form input[type=password], form input[type=number], form input[type=email], form input[type=date] {
    background-color: #262627;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    padding: 15px 10px;
    width: 250px;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=number]:focus, form input[type=email]:focus, form input[type=date]:focus {
    border: 1px solid #fff;
    background-color: #141417;
}

.saveBtn, .cancelBtn {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    width: 60%;
    justify-self: center;
}

.cancelBtn {
    background-color: #dc3545;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelBtn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.cancelBtn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.cancelBtn:hover {
    background-color: #c82333;
}

form button {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
}

form button .imgBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

form button .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(1);
  border-radius: 0%;
}

form button:hover {
    background-color: #0069d9;
}

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected {
    border: 1px solid #fff;
    background-color: #262627;
}
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #fff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 20px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #141417;
    color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #141417;
    color: #fff;
  }

.edit-result {
    color: red;
}

input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
  }
  
  input[type="file"]::before {
    top: 16px;
  }
  
  input[type="file"]::after {
    top: 14px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: #0964b0;
    content: "Subir imagen";
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 20px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #262627;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #131316;
    border: 1px solid #007bff;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #141417;
  }