@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f11;
    padding: 0px 60px;
    z-index: 10000;
}

header h1, header h2 {
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
}

header h1 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 a .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

header h1 a .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
    border-radius: 0%;
}

header h1 a:hover {
    text-decoration: none;
    color: #fff;
}

header input {
    background-color: #141417;
    border: 1px solid #fff;
    outline: none;
    width: 200px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
}

.searchForm {
    display: flex;
    gap: 10px;
}

header form .searchBtn {
    background-color: #007bff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.searchBtn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
    border-radius: 0%;
}

.searchResults {
    position: absolute;
    top: 73%;
    left: calc(26% - 50px);
    display: block;
    background-color: #0f0f11;
    width: 200px;
}

.searchResults div {
    display: grid;
    grid-template-columns: 40px 1fr;
    font-size: 1.4rem;
    padding: 10px 10px;
}

.searchResults div a {
    display: flex;
    justify-self: flex-start;
    padding: 10px 15px;
    font-size: 1.4rem;
}

.searchResults div a:hover {
    text-decoration: none;
    color: #007bff;
}

header div a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px 40px;
}

.new-post a, header h1 a {
    text-decoration: none;
    color: #fff;
}

header h2 a:hover {
    text-decoration: none;
    color: #fff;
}

.square {
    position: absolute;
    display: none;
    background-color: #141417;
    height: 30px;
    width: 30px;
    right: 37%;
    top: 75%;
    transform: rotate(45deg);
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #0f0f11;
    height: 80px;
    width: 200px;
    right: 30%;
    top: 85%;
}

.dropdown a {
    display: flex;
}

.dropdown a:hover {
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
}

.new-post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.new-post:hover {
    background-color: #007bff;
    border-radius: 20px;
    border: 1px solid transparent;
}

.new-post-link {
    padding: 10px 10px;
}

.imgBox {
    position: relative;
    display: flex;
    width: 35px;
    height: 35px;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-link .imgBox {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.profile-link .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.logout .imgBox {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logout .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.new-post-logo {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
}

.new-post-logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.notification-icon {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
}

.notification-icon img {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.notification-icon img:hover {
    cursor: pointer;
}

.square-notifications {
    position: absolute;
    display: flex;
    background-color: #141417;
    height: 30px;
    width: 30px;
    right: 23%;
    top: 79%;
    transform: rotate(45deg);
}

.dropdown-notifications {
    position: absolute;
    display: block;
    background-color: #0f0f11;
    width: 300px;
    right: 18%;
    top: 85%;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.notification-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 500px;
    height: auto;
    align-items: center;
    padding: 10px 30px;
}

.notification-container:hover {
    background-color: #141417;
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (max-width: 992px) {
    .searchResults {
        left: 28%;
    }
}

@media screen and (max-width: 768px) {
    header input {
        display: none;
    }

    .square {
        position: absolute;
        right: 12%;
        top: 70px;
    }

    .dropdown {
        right: 0%;
        top: 175%;
    }

    .dropdown a:hover {
        background-color: #0f0f11;
    }

    .new-post {
        position: absolute;
        top: 83px;
        right: 0%;
        font-size: 1.4rem;
        background-color: #0f0f11;
        padding: 10px 73px 10px 0px;
    }

    .visibleNewPost {
        display: flex;
        border: 1px solid #fff;
        border-top: none;
        border-bottom: none;
        border-right: none;
        padding-left: 42px;
    }

    .visible {
        display: block;
        border: 1px solid #fff;
        border-top: none;
        border-right: none;
    }

    .no-visible {
        display: none;
    }

    .new-post:hover {
        background-color: #0f0f11;
        padding: 10px 73px 10px 0px;
    }

    .identifier {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .square {
        position: absolute;
        right: 22%;
        top: 70px;
    }
}