@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #0f0f11;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f11;
}

nav .logo {
    text-decoration: none;
    color: #fff;
    z-index: 1000;
}

input {
    background-color: #0f0f11;
    border: 1px solid #fff;
    outline: none;
    width: 200px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
}

nav li {
    list-style: none;
}

nav .navbar {
    position: relative;
    display: flex;
}

nav .navbar li {
    list-style: none;
    margin-left: 30px;
}

nav .navbar li a {
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #ffffff;
}

nav .navbar li a:hover {
    background-color: #007bff;
    padding: 10px 50px;
    border-radius: 20px;
}

nav .navbar .menu {
    display: none;
}

@media screen and (max-width: 768px) {
    nav  {
        padding: 20px 60px;
    }

    input {
        display: none;
    }

    ul li {
        position: absolute;
    }

    ul li:not(.menu) {
        right: 40px;
    }

    nav .navbar li a:hover {
        padding: 10px;
        background-color: #141417;
        border: none;
    }

    ul li:nth-child(1) {
        top: 40px;
        right: 0px;
        z-index: 10000;
    }

    ul li:nth-child(2) {
        top: 70px;
        right: 0px;
        z-index: 10000;
    }

    ul li:nth-child(3) {
        top: 100px;
        right: 0px;
        z-index: 10000;
    }

    nav .navbar .menu {
        display: flex;
        position: relative;
        width: 20px;
        height: 20px;
        filter: invert(1);
    }

    .menu-icon img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hidden {
        display: none;
    }

    nav .navbar .square-menu {
        position: absolute;
        top: 29px;
        right: 4px;
        background-color: #141417;
        width: 15px;
        height: 15px;
        z-index: 4000;
        transform: rotate(45deg);
    }

    .menu-opciones {
        position: absolute;
        top: 35px;
        right: 0;
        background-color: #141417;
        width: 100px;
        height: 100px;
        z-index: 4000;
    }
}