@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    color-scheme: light dark;
    --colorMain: #c0c0c0;
    --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
    --tlShadow: 6px -6px 15px rgb(20, 20, 23);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

.main-screen {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #18191a;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

body main {
    position: relative;
    width: 90%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

body main nav {
    position: fixed;
    left: 0%;
    top: 70px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 160px;
    padding: 20px 0px;
    z-index: 1000;
    background-color: #18191a;
}

body main div {
    position: relative;
    display: flex;
    width: 80%;
}

body main figure {
    position: relative;
    display: flex;
    width: 140px;
    top: -40px;
}

body main figure img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

body main nav article h2 {
    font-size: 3rem;
}

body main nav article h3 {
    font-size: 2rem;
    font-weight: 400;
}

.edit-profile-btn {
    background-color: #007bff;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.edit-profile-btn:hover {
    background-color: #0069d9;
}

.edit-profile-btn div:nth-child(2) {
    margin-left: 5px;
}

.edit-profile-btn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.edit-profile-btn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.follow-profile-btn {
    background-color: #007bff;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.follow-profile-btn:hover {
    background-color: #0069d9;
}

.follow-profile-btn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.follow-profile-btn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.follow-profile-btn div {
    margin-left: 5px;
}

.block-profile-btn {
    background-color: #dc3545;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.block-profile-btn:hover {
    background-color: #c82333;
}

.block-profile-btn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.block-profile-btn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.block-profile-btn div {
    margin-left: 5px;
}

.unfollow-profile-btn {
    background-color: #007bff;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.unfollow-profile-btn:hover {
    background-color: #0069d9;
}

body main section {
    position: relative;
    display: flex;
    color: #fff;
    z-index: 1;
    width: 100%;
    margin-top: 150px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    position: fixed;
}

.menu-lateral a {
    padding: 0px 30px;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    background-color: #18191a;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 42px;
}

.menu-lateral a.hidden {
    display: none;
}

.menu-lateral .info div:nth-child(2) {
    justify-content: flex-start;
    margin-left: 15px;
}

.menu-lateral .info .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.menu-lateral .info .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral .posts .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .posts .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral a div:nth-child(2) {
    margin-left: 15px;
}

.menu-lateral .posts div:nth-child(3) {
    justify-content: flex-end;
}

.menu-lateral .comments .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .comments .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral .comments div:nth-child(3) {
    justify-content: flex-end;
}

.menu-lateral .followers .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .followers .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral .following div:nth-child(3) {
    justify-content: flex-end;
}

.menu-lateral .following .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .following .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}
.menu-lateral .likes div:nth-child(3) {
    justify-content: flex-end;
    width: 30%;
}

.menu-lateral .likes .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .likes .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral .followers div:nth-child(3) {
    justify-content: flex-end;
}

.menu-lateral .photos .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .photos .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral .photos div:nth-child(3) {
    justify-content: flex-end;
}

.menu-lateral .blocks .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.menu-lateral .blocks .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-lateral .blocks div:nth-child(3) {
    justify-content: flex-end;
}

.menu-lateral a:hover {
    cursor: pointer;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    height: calc(100vh - 260px);
    justify-content: space-evenly;
}

.info-perfil h1 {
    display: flex;
    flex-direction: row;
}

.info-perfil h1 div:nth-child(1) {
    font-weight: 400;
}

.group-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-profile-btn {
    background-color: #dc3545;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.delete-profile-btn:hover {
    background-color: #c82333;
}

.delete-profile-btn div:nth-child(2) {
    margin-left: 5px;
}

.delete-profile-btn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.delete-profile-btn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.post-card {
    position: relative;
    display: none;
    flex-direction: column;
    width: 90%;
    background-color: #242526;
    padding: 30px 30px;
    border-radius: 10px;
    gap: 10px;
    align-self: flex-end;
}

.post-card .post-card-top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.post-card .post-card-top > .wrapper-main-profile-items {
    width: 50%;
    justify-content: flex-start;
}

.post-card .post-card-top > div {
    width: 50%;
    justify-content: flex-end;
}

.post-card h2 {
    font-weight: 600;
}

.post-card h2 a {
    color: #fff;
    text-decoration: none;
}

.post-card h2 a:hover {
    color: #007bff;
}

.post-card h3 {
    font-size: 1.6rem;
}

.post-card .contenido {
    font-size: 1.3rem;
    flex-direction: column;
    width: 100%;
}

.post-content {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(1);
    cursor: pointer;
}

.menu-opciones {
    position: absolute;
    width: 160px;
    height: 180px;
    display: none;
    flex-direction: column;
    top: 50px;
    right: 0px;
    z-index: 10000;
    background-color: #242526;
    border: 1px solid #151617;
    border-radius: 10px;
}

.menu-opciones.visible {
    display: grid;
}

.menu-opciones a {
    text-decoration: none;
    color: #fff;
    justify-self: center;
    align-self: center;
    padding: 15px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.menu-opciones a:hover {
    color: #fff;
    background-color: #007bff;
}

.menu-opciones a .imgBox {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.menu-opciones a .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.square-menu-perfil {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    right: 10px;
    transform: rotate(45deg);
    display: none;
    border: 1px solid #151617;
    background-color: #242526;
}

.square-menu-perfil.visible {
    display: flex;
}

.comment-content {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

.comment-card {
    position: relative;
    display: none;
    flex-direction: column;
    width: 90%;
    background-color: #242526;
    padding: 30px 30px;
    border-radius: 10px;
    gap: 10px;
    align-self: flex-end;
}

.comment-card .comment-card-top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comment-card .comment-card-top > .wrapper-main-profile-items {
    width: 50%;
    justify-content: flex-start;
}

.comment-card .comment-card-top .fecha {
    width: 50%;
    justify-content: flex-end;
}

.comment-card h2 {
    font-weight: 600;
}

.comment-card h2 a {
    color: #fff;
    text-decoration: none;
}

.comment-card h2 a:hover {
    color: #007bff;
}

.comment-card div, .comment-card h3 {
    font-weight: 400;
}

.square-menu-perfil-comments {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    right: 10px;
    transform: rotate(45deg);
    display: none;
    border: 1px solid #151617;
    background-color: #242526;
}

.square-menu-perfil-comments.visible {
    display: flex;
}

.menu-opciones-comments {
    position: absolute;
    width: 160px;
    height: 180px;
    display: none;
    flex-direction: column;
    top: 50px;
    right: 0px;
    z-index: 10000;
    background-color: #242526;
    border: 1px solid #151617;
    border-radius: 10px;
}

.menu-opciones-comments.visible {
    display: grid;
}

.menu-opciones-comments a {
    text-decoration: none;
    color: #fff;
    justify-self: center;
    align-self: center;
    padding: 15px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-opciones-comments a:hover {
    color: #fff;
    background-color: #007bff;
}

.menu-opciones-comments a .imgBox {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.menu-opciones-comments a .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.menu-icon-comments {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(1);
    cursor: pointer;
}

.imgBoxContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.imgBoxContent img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noImage {
    display: none;
}

.following-content {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

.following-card {
    position: relative;
    display: none;
    width: 90%;
    background-color: #242526;
    padding: 30px 30px;
    border-radius: 10px;
    align-self: flex-end;
}

.following-card h2 {
    width: fit-content;
}

.following-card h2:hover {
    color: #007bff;
    cursor: pointer;
}

.imgBoxFollowing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.imgBoxFollowing img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.error-fetching-following {
    color: #141417;
    font-size: 8em;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: var(--brShadow), var(--tlShadow);

    &::before {
        left: 0;
        width: 100px;
        height: 100px;
        top: -150px;
        z-index: 10;
        box-shadow: inset var(--brShadow), inset var(--tlShadow);
    }

    &::after {
        left: -50px;
        width: 200px;
        height: 200px;
        top: -200px;
        box-shadow: var(--brShadow), var(--tlShadow);
    }
}

.follower-content {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

.follower-card {
    position: relative;
    display: none;
    width: 90%;
    background-color: #242526;
    padding: 30px 30px;
    border-radius: 10px;
    align-self: flex-end;
}

.follower-card h2 {
    width: fit-content;
}

.follower-card h2:hover {
    color: #007bff;
    cursor: pointer;
}

.imgBoxFollower {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.imgBoxFollower img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.error-fetching-follower {
    color: #141417;
    font-size: 8em;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: var(--brShadow), var(--tlShadow);

    &::before {
        left: 0;
        width: 100px;
        height: 100px;
        top: -150px;
        z-index: 10;
        box-shadow: inset var(--brShadow), inset var(--tlShadow);
    }

    &::after {
        left: -50px;
        width: 200px;
        height: 200px;
        top: -200px;
        box-shadow: var(--brShadow), var(--tlShadow);
    }
}

.likes-content {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

.likes-card {
    position: relative;
    display: none;
    flex-direction: column;
    width: 90%;
    background-color: #242526;
    padding: 30px 30px;
    border-radius: 10px;
    gap: 10px;
    align-self: flex-end;
}

.likes-card .likes-card-top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.likes-card .likes-card-top > div {
    width: 50%;
    justify-content: flex-start;
}

.likes-card h2 {
    font-weight: 600;
}

.likes-card div, .likes-card h3 {
    font-weight: 400;
}

.likes-card .likes-card-top .fecha {
    justify-content: flex-end;
}

.likes-card .likes-card-top .wrapper-main-profile-items a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.6em;
}

.likes-card .likes-card-top .wrapper-main-profile-items a:hover {
    color: #007bff;
    cursor: pointer;
}

.hidden {
    display: none;
}

.wrapper-main-profile-items {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Clases de PhotoSwipe */
.pswp {
    position: fixed !important; /* Forzar posición absoluta */
    top: 0;
    left: 0;
    width: 100vw; /* Abarcar todo el ancho de la pantalla */
    height: 100vh; /* Abarcar todo el alto de la pantalla */
    z-index: 9999; /* Mantener la ventana emergente sobre otros elementos */
}

.fecha-formateada {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #cacacb;
    color: #0f0f11;
    padding: 5px 10px;
    border-radius: 10px;
}

.fecha {
    cursor: pointer;
}

.fecha:hover {
    text-decoration: underline;
}

.photos-content {
    position: relative;
    gap: 10px;
    margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
}

.photos-content .photo-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.photos-content .photo-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
}

/* Estilos de la modal */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente */
}

.modal-content {
    position: relative;
    background-color: rgb(24, 25, 26);
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.modal-content form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.modal-content form input[type=text] {
    background-color: #3a3b3c;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    padding: 15px 40px 15px 15px;
    width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content form button {
    background-color: #007bff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input[type=submit]:hover {
    background-color: #0069d9;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-icon {
	position: absolute;
	filter: invert(23%) sepia(71%) saturate(6752%) hue-rotate(358deg) brightness(88%) contrast(134%);
	width: 30px;
	height: 30px;
	top: -15px;
	right: -15px;
	display: none;
}

.image-upload {
    width: 0%;
}

.image-upload > input {
	display: none;
}

.image-upload img {
    width: 20px;
    cursor: pointer;
    filter: invert(1);
}

.contentInput {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imgBoxSaveComment {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.imgBoxSaveComment img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.update-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks-content {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

.blocks-card {
    position: relative;
    display: none;
    width: 90%;
    background-color: #242526;
    padding: 30px 30px;
    border-radius: 10px;
    align-self: flex-end;
}

.blocks-card h2 {
    width: fit-content;
}

.blocks-card h2:hover {
    color: #007bff;
    cursor: pointer;
}

.imgBoxBlocksCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.imgBoxBlocksCard img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

hr {
    border: 1px solid #434345;
    margin-bottom: 20px;
}

.stats-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.like-count {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    padding: 5px 12px;
    border-radius: 50%;
}

.like-count:hover {
    cursor: pointer;
    background-color: #007bff;
}

.like-count-hover {
    padding: 7px 15px 7px 15px;
    margin-top: 5px;
}

.like-count-hover:hover {
    cursor: pointer;
    background-color: #007bff;
}

.comment-count {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
}

.comment-count-hover {
    position: absolute;
    left: 45px;
    padding: 7px 15px 7px 15px;
    border-radius: 50%;
}

.comment-count-hover:hover {
    cursor: pointer;
    background-color: #007bff;
}

.stats-container-child {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.imgBoxLike {
    position: absolute;
    left: 0px;
    width: 20px;
    height: 20px;
}

.imgBoxLike img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.imgBoxComment {
    position: absolute;
    left: 70px;
    width: 20px;
    height: 20px;
}

.imgBoxComment img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}

.imgBoxCommentUpdate {
    max-width: 40%;
	max-height: 150px;
	margin-top: 10px;
    height: fit-content;
}

.liked-btn {
    background-color: #dc3545;
}

.like-button {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: #007bff;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    position: absolute;
    right: 0;
}

.like-button:hover {
    text-decoration: none;
    color: #fff;
}

.w-100 {
    width: 100%;
}

.modal-likes {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente */
    z-index: 1000;
    position: fixed; /* Usamos 'fixed' para centrarlo en toda la ventana */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-likes {
    max-height: 300px;
    width: 600px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #0f0f11;
    display: flex;
    flex-direction: column;
}

.modal-content-likes .modal-body {
    max-height: 200px;
    overflow-y: auto;
    padding: 1rem;
    width: 100%;
}

.modal-content-likes .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    width: 100%;
}

.modal-likes-hidden {
    display: none;
}

.list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.list-group-item .liked-usernames {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
}

.list-group-item .liked-usernames:hover {
    color: #007bff;
}