@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #0f0f11;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    background-color: #242526;
    width: 500px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: #fff;
    gap: 15px;
}

form input[type=text], form input[type=password] {
    background-color: #3a3b3c;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    padding: 15px 40px 15px 15px;
    width: 250px;
}

form input[type=submit] {
    background-color: #007bff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    width: 100px;
}

form input[type=submit]:hover {
    background-color: #0069d9;
}

.message {
    display: none;
    color: red;
    position: absolute;
    top: 300px;
}

.group-buttons {
    display: flex;
    gap: 20px;
}

.group-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #dc3545;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.group-buttons a .imgBox {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.group-buttons a .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.group-buttons a:hover {
    background-color: #c82333;
}

.group-buttons .submit-container {
    text-decoration: none;
    color: #fff;
    background-color: hsl(211, 100%, 50%);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.group-buttons .submit-container .imgBox {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    pointer-events: none;
}

.group-buttons .submit-container .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.group-buttons .submit-container:hover {
    background-color: #0069d9;
    cursor: pointer;
}

.user-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    filter: invert(1);
    left: 345px;
    top: 127px;
}

.pass-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    filter: invert(1);
    left: 345px;
    top: 217px;
}

.submit-icon {
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    form {
        width: 350px;
    }

    form input[type=text], form input[type=password] {
        display: flex;
    }

    .user-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        filter: invert(1);
        top: 125px;
        left: 75%;
    }

    .pass-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        filter: invert(1);
        top: 215px;
        left: 75%;
    }

    form input[type=submit] {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    body {
        position: relative;
        z-index: -1;
    }

    form {
        width: 90%;
        z-index: -1;
    }

    form input[type=text], form input[type=password] {
        display: flex;
        width: 80%;
        z-index: 10000;
    }

    .user-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        filter: invert(1);
        top: 125px;
        left: 80%;
        z-index: 11000;
    }

    .pass-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        filter: invert(1);
        top: 215px;
        left: 80%;
        z-index: 11000;
    }
}